
.tablegrid__header-inner {
}

.tablegrid__header {
    cursor: default;
    padding: 0 0 0 0;
    overflow: hidden;
    background: white;
    /*border-style: BORDER_STYLE;*/
    /*border-width: BORDER_WIDTH 0 0;*/
    /*border-color: BORDER_COLOR;*/
}

.tablegrid__head-row .tablegrid__head {
    line-height: 18px;
    vertical-align: top;
    -moz-outline: none;
    -moz-user-focus: normal;
    outline: 0 none;
    /*font-family: FONT_FAMILY;*/
    /*font-size: FONT_SIZE;*/
    /*font-weight: FONT_WEIGHT;*/
    /*color: TEXT_COLOR;*/
    /*border-style: BORDER_STYLE;*/
    /*border-color: BORDER_COLOR;*/
    /*border-width: 0 BORDER_WIDTH BORDER_WIDTH 0;*/
}

.tablegrid__head-inner {
    overflow: hidden;
    zoom: 1;
    padding: 3px;
    cursor: inherit;
    position: relative;
    vertical-align: middle;
    /* @alternate */ overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tablegrid__head {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: ignore;
}

.tablegrid__head-button {
    background: greenyellow;
    border: 1px solid red;
    display: none;
    position: absolute;
    /*width: MENU_WIDTH;*/
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
    outline: none;
}

.tablegrid__head--over .tablegrid__head-button,
.tablegrid__head-menu--open .tablegrid__head-button {
    display: block;
}

.tablegrid__head--over .tablegrid__head-button {
    /*border-width: MENU_HOVER_BORDER_WIDTH;*/
    /*border-style: MENU_HOVER_BORDER_STYLE;*/
    /*border-color: MENU_HOVER_BORDER_COLOR;*/
}

.tablegrid__head-menu--open .tablegrid__head-button {
    /*border-width: MENU_ACTIVE_BORDER_WIDTH;*/
    /*border-style: MENU_ACTIVE_BORDER_STYLE;*/
    /*border-color: MENU_ACTIVE_BORDER_COLOR;*/
}

.tablegrid__head--over  .tablegrid__head-inner,
.tablegrid__head-menu--open .tablegrid__head-inner {
    /*background: OVER_BACKGROUND_COLOR;*/
    /*!* @alternate *! background: -webkit-linear-gradient(top, OVER_GRADIENT);*/
    /*!* @alternate *! background: -ms-linear-gradient(top, OVER_GRADIENT);*/
    /*!* @alternate *! background: linear-gradient(to bottom, OVER_GRADIENT);*/
}

.tablegrid__sort-icon {
    background-repeat: no-repeat;
    display: none;
    /*height: MAX;*/
    margin-left: 3px;
    vertical-align: middle;
}

.tablegrid__sort--asc .tablegrid__sort-icon,
.tablegrid__sort--desc .tablegrid__sort-icon {
    display: inline;
}

.tablegrid__sort--asc .tablegrid__sort-icon {
}

.tablegrid__sort--desc .tablegrid__sort-icon {
}

.tablegrid__column-move-bottom {
}

.tablegrid__column-move-top {
}
