.listview {
  box-shadow: 0 0.1rem 1rem 0 $shadow;
}

.listpage__header {
  background-color: white;
}

.listpage__header-content {
  flex-grow: 1.0;
}

.listpage__header h2 {
  font-size: 2em;
  font-family: $gretasemibold;
}

.listpage__header-inner {
  max-width: $maxwidth;
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  flex-content: flex-start;
}

.listpage__header-inner a {
  display: block;
}

.listpage__toolbar {
  display: flex;
  flex-direction: row;
}

.listpage__toolbar div {
  margin-left: 1em;
}

.listpage__toolbar div:first-child {
  margin-left: 0;
}

.listpage__toolbar div:last-child {
  align-self: flex-end;
}

.listpage__body {
  background-color: $background;
  padding-bottom: 4rem;
}

.listpage__body-inner {
  max-width: $maxwidth;
  margin: 0 auto;
}

.listpage__body h3 {
  font-family: $gretasemibold;
  font-size: 1.5em;
  padding: 1em 0;
}

.listpage__item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: $fontsize-l;
  background: $white;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid $border;
  }

  &:hover {
    z-index: 1;
  }
}

.listpage__item--label {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;

  &:after {
    transition: opacity 0.3s ease;
    z-index: 1;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $green;
    box-shadow: 0 0 0.5rem 0 $green;
    opacity: 0;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    border: 0 none;
    outline: 0 none;
  }

  &:hover:after,
  &:focus:after {
    opacity: 1;
  }
}

.listpage__item--icon {
  position: relative;
  flex: 0 0 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.listpage__item--offline .listpage__item--icon {
  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background-color: $green;
    border: 2px solid $white;
    border-radius: 50%;
  }
}

.listpage__item--title {
  font-family: $gretasemibold;
}

.listpage__item--offlineindicator {
  transition: opacity 0.3s 0s ease;
  position: relative;
  display: none;
  font-family: $gretalight;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  padding-left: 1.5rem;
  margin: 0.2rem 1rem;
  background-color: $background;
  border-radius: 1rem;
  opacity: 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background-color: $green;
    border: 2px solid $white;
    border-radius: 50%;
  }
}

.listpage__item--offline .listpage__item--offlineindicator {
  display: inline-block;
}

.listpage__item:hover .listpage__item--offlineindicator,
.listpage__item--label:hover .listpage__item--offlineindicator,
.listpage__item--label:focus .listpage__item--offlineindicator {
  transition: opacity 0.3s 0.2s ease;
  opacity: 1;
}

.listpage__item--icon svg {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: red;
  border-radius: 50%;
  overflow: hidden;
}

.listpage__item-options {
  padding: 1rem;

  &:after {
    transition: opacity 0.3s ease;
    z-index: 1;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $green;
    box-shadow: 0 0 0.5rem 0 $green;
    opacity: 0;
    pointer-events: none;
  }

  &:hover:after,
  &:focus:after {
    opacity: 1;
  }

  &:hover,
  &:focus,
  &:active {
    border: 0 none;
    outline: 0 none;
    background-color: $background;
  }
}
