.listview {
  box-shadow: 0 0.1rem 1rem 0 $shadow;
}

.listpage__body {
  background-color: $background;
  padding-bottom: 4rem;
}

.listpage__body-inner {
  max-width: $maxwidth;
  margin: 0 auto;
}

.listpage__body h3 {
  font-family: $gretasemibold;
  font-size: 1.5em;
  padding: 1em 0;
}

/* JUST TESTING THIS HAS TO MOVE */
/* JUST TESTING THIS HAS TO BE RENAMED */
/* JUST TESTING THIS HAS OVERFLOW ISSUE */
/* DROPDOWN NEEDS PROPER CHECKBOXES AND BUTTONS INSTEAD OF DIVS AND IMGS */
.org-activityinfo-theme-client-base-menu-Css3MenuAppearance-Css3MenuStyle-menu {
  position: relative;
  overflow: initial !important;
  border: 0 none !important;
  outline: 0 none !important;
  padding: 0.5rem !important;
  color: $white !important;
  background: $black !important;
  box-shadow: 0 0.1rem 1rem 0.1rem $shadow;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -0.5rem;
    right: 0;
    transform: translateX(-50%);
    border-bottom: 0.5rem solid $black;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
  }
}

/* JUST TESTING THIS HAS TO MOVE */
/* JUST TESTING THIS HAS TO BE RENAMED */
.testcheck {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2rem;
}

.testcheck svg {
  transition: opacity 0.2s ease,
              transform 0.2s ease;
  z-index: 1;
  position: absolute;
  left: 0.25rem;
  top: 50%;
  width: 1rem;
  height: 1rem;
  opacity: 0;
  transform: translateY(-50%) rotate(-20deg) scale(0.8);
  transform-origin: 50% 100%;
}

.testcheck input[type="checkbox"]:checked ~ svg {
  transition: opacity 0.2s 0.1s ease,
              transform 0.2s 0.15s ease;
  opacity: 1;
  transform: translateY(-50%) rotate(0) scale(1);
}

.testcheck input[type="checkbox"]{
  position: absolute;
  visibility: hidden;
}

.testcheck label {
  font-family: $gretasemibold;
}

.testcheck input[type="checkbox"]:checked ~ label {
  color: $black;
}

.testcheck input[type="checkbox"]:focus ~ label {
  box-shadow: 0 0 20px 0 rgba($green, 1);
}

.testcheck label {
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
  }

  &:before {
    transition: opacity 0.2s 0.1s ease,
                transform 0.2s 0.1s ease;
    background-color: $green-light;
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
    transform-origin: 0% 100%;
  }

  &:after {
    transition: opacity 0.4s ease;
    border: 1px solid $black;
    background-color: rgba($white, 0.2);
    opacity: 1;
  }
}

.testcheck input[type="checkbox"]:checked ~ label {
  &:before {
    transition: opacity 0.2s 0.1s ease,
                transform 0.2s 0.1s ease;
    opacity: 1;
    transform: translateY(-50%) scaleY(1);
  }

  &:after {
    opacity: 0;
  }
}
