.search__item {
  position: relative;
  display: block;
  padding: 1rem;
  padding-left: 3rem;
  font-size: 1.25rem;
  line-height: 1.1;
  color: $white;

  &:before {
    content: '';
    background-image: url('icon_header_search-white.svg');
    background-position: 1.5rem 50%;
    background-size: 1rem;
    background-repeat: no-repeat;
  }

  &:after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: calc(100% - 2rem);
    height: 1px;
    border-bottom: 1px solid $grey-dark;
  }

  &:last-child:after {
    display: none;
  }

  &:hover {
    background-color: $grey-deep;
  }
}

.search__item--folder {

}

.search__item--form {
}

.search__item--folder {
}

/* The .x-view-highlightrow is applied to
 * rows selected by the user via the keyboard.
 */

.search__list .x-view-highlightrow {
  /* TODO(adrian): distinguish from hover style? */
  background-color: $grey-deep;
}

.search__type {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  color: $grey-medium;
}

.search__item:hover .search__type {
  color: $white;
}
