.search {
  display: block;
  flex-grow: 1;
  //flex-shrink: 1;
  //max-width: $maxwidth;
  margin: 0 auto;
  padding: 0.5rem;
}

.search--expanded {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 0.5rem solid $black;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
  }
}

.search__wrapper {
  position: relative;
  height: 100%;
}

.search input[type="search"] {
  transition: border 0.3s ease;
  display: block;
  padding: 0.5rem 1rem 0.5rem 3rem;
  width: 100%;
  height: 100%;
  outline: 0 none;
  border: 0 none;
  border: 1px solid $white;
  box-shadow: 0 0.1rem 1rem 0.1rem $shadow;
  color: $black;
  font-size: 1.25rem;
  background-image: svg-load('SearchIcon.svg');
  background-position: 1.5rem 50%;
  background-size: 1rem;
  background-repeat: no-repeat;

  &:focus {
    border: 1px solid $green;
  }
}
