.search__item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  padding-left: 3.5rem;
  font-size: 1.25rem;
  line-height: 1.1;
  color: $white;
  border: 1px solid transparent;
}

/* The .x-view-highlightrow is applied to
 * rows selected by the user via the keyboard.
 */
.search__list .x-view-highlightrow {
  border: 1px solid $green;
  background-color: $grey-deep;
}

.search__type {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  color: $grey-medium;
}

.x-view-highlightrow .search__type {
  color: $white;
}
