.search__item {
  position: relative;
  display: block;
  padding: 0.75rem 1rem;
  padding-left: 3.25rem;
  border: 1px solid transparent;
  font-size: 1.15rem;
  line-height: 1.1;
  font-family: $gretasemibold;
  color: $white;
}

/* The .x-view-highlightrow is applied to
 * rows selected by the user via the keyboard.
 */
.search__list .x-view-highlightrow {
  border: 1px solid $green;
  background-color: $grey-deep;
}

.search__type {
  display: block;
  font-size: 0.8rem;
  color: $white;
  font-family: $gretalight;
  opacity: 0.8;
}

.x-view-highlightrow .search__type {
  opacity: 1;
}
