<div class="forminput__field__attachment__file">
    <button type="button" class="forminput__field__attachment__file__remove">
        <svg xmlns="http://www.w3.org/2000/svg" width="12px" height="12px" viewBox="0 0 12 12" class="icon">
            <use xlink:href="#bubble_close"></use>
        </svg>
    </button>
    <div class="forminput__field__attachment__file__name">
        <span class="forminput__field__attachment__file__base">{name}</span>
        <span class="forminput__field__attachment__file__ext">{ext}</span>
    </div>
    <div class="forminput__field__attachment__file__progress" style="display:none">
        <div class="forminput__field__attachment__file__progress__bar"></div>
    </div>
</div>