

.field {

}

.field--readonly {

}

.field--invalid {

}

.field__wrap {
  transition: box-shadow 0.2s ease,
              border 0.2s ease;
  display: flex;
  flex-direction: row;
  border-radius: $borderradius;
  border: 1px solid #466366;
  background-color: $white;
}

.field--focused .field__wrap {
  box-shadow: 0 0 0.5rem $green;
  border: 1px solid $green;
}

.field--readonly .field__wrap,
.field--readonly .field__wrap,
input:disabled,
textarea:disabled {
  border: 1px solid $grey-4;
  cursor: not-allowed;
}

.forminput__field__geopoint > div {
  flex: 1 1 calc((100% - 2rem) / 2);
  min-width: 200px;
  margin: 0.5rem;
}

.field__wrap input,
.field__wrap textarea {
  flex: 1 1 auto;
  width: 100%;
  padding: 1rem;
  outline: 0;
  border: 0;
  border-radius: $borderradius;
  font-size: 1rem;
}

.field__wrap textarea {
  resize: vertical;
}

.field__units {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;

  &::before,
  &::after {
    z-index: 0;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  &::before {
    transition: transform 0.2s ease;
    width: 100%;
    background-color: $green;
    transform: scaleX(0);
    transform-origin: 0% 0%;
  }

  &::after {
    width: 0.5rem;
    background-image: linear-gradient(to right, rgba($black, 0.3) 0%, rgba($white, 0) 100%);
  }
}

.field__units span {
  z-index: 1;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  max-width: 15ch;
  overflow: hidden;
  font-family: $gretasemibold;
  font-size: 0.75rem;
  color: $black;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.field--focused .field__units::before {
  transform: scaleX(1);
}

.field__trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.field__trigger .icon {
}

.field input::-ms-clear {
  display: none;
}
