.field__wrap {
  transition: box-shadow 0.2s ease,
              border 0.2s ease;
  display: flex;
  flex-direction: row;
  border-radius: $borderradius;
  border: 1px solid $grey-5;
  background-color: $white;
}

.field__wrap--invalid {
  border: 0.2rem solid $red;
}

.field__wrap--focused {
  box-shadow: 0 0 0.5rem $green;
  border: 1px solid $green;
}

.field__wrap--readonly {
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0 none;
  outline: 0 none;
}

input {
  font-family: $gretalight;
}

.field input::-ms-clear {
  display: none;
}

input:disabled,
textarea:disabled {
  border: 1px solid $grey-4;
  cursor: not-allowed;
}

.field__wrap input,
.field__wrap textarea {
  flex: 1 1 auto;
  width: 100%;
  padding: 1rem;
  outline: 0;
  border: 0;
  border-radius: $borderradius;
  font-size: 1rem;
  font-family: $gretalight;
}

.field__wrap textarea {
  resize: vertical;
  height: 8rem;
}


.field__units {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;

  &::before,
  &::after {
    z-index: 0;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  &::before {
    transition: transform 0.2s ease;
    width: 100%;
    background-color: $green-light;
    transform: scaleX(0);
    transform-origin: 0% 0%;
    border-top-right-radius: $borderradius;
    border-bottom-right-radius: $borderradius;
  }

  &::after {
    width: 0.5rem;
    background-image: linear-gradient(to right, rgba($black, 0.3) 0%, rgba($white, 0) 100%);
  }
}

.field__wrap--focused .field__units::before {
  transform: scaleX(1);
}

.field__units span {
  z-index: 1;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  max-width: 15ch;
  overflow: hidden;
  font-family: $gretasemibold;
  font-size: 0.75rem;
  color: $black;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.field__trigger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-width: 3rem;

  &::before {
    transition: background-color 0.3s ease,
                opacity 0.3s ease;
    z-index: 0;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2rem;
    height: 2rem;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $grey-2;
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

// THIS NEEDS IMPLEMENTING
.field__trigger--active::before {
  background-color: $green-light;
  opacity: 1;
}

.field__trigger .icon {
  z-index: 1;
  position: relative;
}

/* checkbox */
.fieldset__checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;
  padding-left: 2rem;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset__checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

.fieldset__checkbox label {
  font-family: $gretasemibold;

  &:focus {
    outline: 0 none;
  }
}
//
//.fieldset__checkbox input[type="checkbox"]:checked ~ label {
//  color: $black;
//}
//
//.dark {
//  .fieldset__checkbox input[type="checkbox"]:checked ~ label {
//    color: $white;
//  }
//}

.fieldset__checkbox input[type="checkbox"]:disabled ~ label {
  opacity: 0.5;
  color: $grey-3;
}


/* radio */
.fieldset__radio {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;
  padding-left: 2rem;
}

.fieldset__radio svg {
  display: none;
}

.fieldset__radio input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.fieldset__radio label {
  font-family: $gretasemibold;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }

  &:before {
    z-index: 1;
    transition: opacity 0.2s 0.1s ease,
                transform 0.2s 0.1s ease;
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0);
    width: 1rem;
    height: 1rem;
    margin: 0.25rem;
    border: 0.2rem solid $black;
    background-color: $green-light;
  }

  &:after {
    border: 1px solid $black;
    background-color: $white;
    opacity: 1;
  }

  &:focus {
    outline: 0 none;
  }
}

.fieldset__radio input[type="radio"]:checked ~ label {

  &:before {
    transition: opacity 0.2s 0.1s ease,
                transform 0.2s 0.1s ease;
    opacity: 1;
    transform: scaleY(1);
  }
}

.fieldset__radio input[type="radio"]:disabled ~ label {
  opacity: 0.5;
  color: $grey-3;

  &:before {
    transition: opacity 0.2s 0.1s ease,
                transform 0.2s 0.1s ease;
    opacity: 0;
    transform: scaleY(0);
  }

  &:after {
    opacity: 1;
    border: 1px solid $grey-4;
    background-color: $black;
  }
}

.fieldset__radio input[type="radio"]:disabled:checked ~ label{
  &:before {
    opacity: 1;
    transform: scaleY(1);
    background-color: $grey-3;
  }
}
