
.alert {
  margin-bottom: 1rem;
  font-family: $gretasemibold;
  font-size: 1.125rem;
  padding: 0.75rem;
}

.alert--error {
  background-color: $red;
  color: $white;
}

.alert--warning {
  background-color: #ffce60;
}
