/*
       Center Layout

       The container centers its only child. The child is sized
       according to its content.


       container
       +--------------------------------------------------------------+
       |                                                              |
       |                                                              |
       |                                                              |
       |                                                              |
       |                    +--------------------+                    |
       |                    | *                  |                    |
       |                    |                    |                    |
       |                    |                    |                    |
       |                    |                    |                    |
       |                    |                    |                    |
       |                    |                    |                    |
       |                    |                    |                    |
       |                    |                    |                    |
       |                    |                    |                    |
       |                    +--------------------+                    |
       |                                                              |
       |                                                              |
       |                                                              |
       |                                                              |
       +--------------------------------------------------------------+
*/


%center__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
