

.datatable {
}

.datatable table {
  border-collapse: separate;
  table-layout: fixed;
}

.datatable__inner {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.datatable__header {
  position: relative;
  flex: none;

  table {
    position: relative;
  }
}

.datatable__body {
  overflow: auto;
  flex-grow: 1;
}

.datatable__colheader {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 0.75rem 2px 0.75rem 0.5rem;
}

.datatable__colheader__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 1;
  flex-grow: 1;
}

.datatable__colheader__filter {
  width: 1.5rem;
  height: 1.5rem;
  flex: none;
}


.datatable {
  th, td {
    border-right: 1px solid $green-pale;
  }

  th .surtitle {
    color: #689591;
  }

  td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0.75rem 1rem 0.75rem 0.5rem;
  }
}


.datatable__header {
  color: #466366;
  font-size: 1rem;
}

.datatable__body {

  box-shadow: 0 2px 6px rgba(36, 50, 51, 0.2);

  // Used only for sizing columns
  th {
    height: 0;
    padding: 0;
  }

  td {
    text-align: left;
  }

  td:first-child {
    border-left: 2px hidden transparent;
  }

  tr {
    background-color: $white;
    position: relative;
  }
  tr:nth-child(odd) {
    background-color: #F1F6F6;
  }

  /** Selected rows **/

  tr.selected {
    td {
      box-shadow: inset 0 2px 0 0 $green, /* top */
      inset 0 -2px 0 0 $green /* bottom */
    ;

    }

    td:first-child {
      box-shadow: inset 2px 0 0 $green, /* left */
      inset 0 2px 0 0 $green, /* top */
      inset 0 -2px 0 0 $green /* bottom */
    ;
    }
  }
}

/** Selected Columns **/

.datatable {

  td.selected {
    box-shadow: inset 2px 0 0 $green, /* left */
                inset -2px 0 0 $green; /* right */
  }

  tr:last-child td.selected {
    box-shadow: inset 2px 0 0 $green, /* left */
                inset -2px 0 0 $green, /* right */
                inset 0 -2px 0 0 $green /* bottom */;
  }

  th.selected {
    box-shadow: inset 0 0 0 2px $green;
  }
}

.datatable__body__inner {
  position: relative;

  table {
    position: absolute;
  }
}

