

.datatable {
}

.datatable table {
  border-collapse: collapse;
  table-layout: fixed;
}

.datatable__inner {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.datatable__header {
  position: relative;
  flex: none;

  table {
    position: relative;
  }
}

.datatable__body {
  overflow: auto;
  flex-grow: 1;
}

.datatable__colheader {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 0.75rem 2px 0.75rem 0.5rem;
}

.datatable__colheader__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 1;
  flex-grow: 1;
}

.datatable__colheader__filter {
  width: 1.5rem;
  height: 1.5rem;
  flex: none;
}


.datatable {
  th, td {
    border-right: 1px solid $green-pale;
  }

  td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0.75rem 1rem 0.75rem 0.5rem;
  }
}


.datatable__header {
  color: #466366;
  font-size: 1rem;
}

.datatable__body {

  // Used only for sizing columns
  th {
    height: 0;
    padding: 0;
  }

  td {
    text-align: left;
  }
  tr {
    background-color: $white;
    position: relative;

  }
  tr:nth-child(odd) {
    background-color: #F1F6F6;
  }

  tr.selected {
    border: 2px solid $green;
  }
}

.datatable__body__inner {
  position: relative;

  table {
    position: absolute;
  }
}

