.forminput {
  color: $white;
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.forminput__inner {
  padding: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: $formwidth;
  background-color: $grey-5;
}

.forminput__inner .fieldset__radio input[type="radio"]:checked ~ label,
.forminput__inner .fieldset__checkbox input[type="checkbox"]:checked ~ label {
  color: $green-light;
}

.forminput__inner .fieldset__radio input[type="radio"]:disabled ~ label,
.forminput__inner .fieldset__checkbox input[type="checkbox"]:disabled ~ label {
  color: $grey-3;
}

.forminput form {
  padding: 2rem;
  background-color: $box-background;
}

/* form headings */
.forminput h1,
.forminput h2,
.forminput__field h3 {
  margin-bottom: 0.5rem;
}

.forminput label {
  font-family: $gretasemibold;
  font-size: 1rem;
  color: $green-pale;
}

.forminput__field {
  position: relative;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.forminput__field--invalid::before {
  position: absolute;
  left: -4rem;
  content: '';
  width: 1px;
  height: 100%;
  border-left: 0.4rem solid $red;
}

.forminput__field--invalid .field__wrap {
  border: 1px solid $red;
  // border-bottom-left-radius: 0;
}

.forminput__field--invalid .field__wrap--focused {
  box-shadow: 0 0 0.5rem $red;
  border: 1px solid $red;
}

.forminput__field--invalid .field__wrap--focused {
  box-shadow: 0 0 0.5rem $red;
  border: 1px solid $red;
}

.forminput__field--invalid {
  *::placeholder {
    color: $red-pale;
  }
}

.forminput__field--invalid .field__units::before {
  background-color: $red;
}

.forminput__field--invalid .field__units span {
  color: $red;
}

.forminput__field--invalid .field__wrap--focused .field__units span {
  color: $white;
}

.forminput__field__header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}

.forminput__field__header h3 {
  margin-bottom: 0;
  flex-grow: 1;
}

.forminput__field__geopoint {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -0.5rem;
  width: calc(100% + 1rem);
}

.forminput__field__geopoint > div {
  flex: 1 1 calc((100% - 2rem) / 2);
  min-width: 200px;
  margin: 0.5rem;
}

.forminput__field__required {
  padding: 0.25rem;
  border-radius: $borderradius-s;
  border: 1px solid $white;
  font-family: $gretasemibold;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.forminput__field__description {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1rem;
}

.forminput__validationmessage {
  position: relative;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: $red;
  color: $white;
  font-family: $gretasemibold;
  font-size: 0.875rem;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -0.25rem;
    left: 0;
    border-left: 0.25rem solid $red;
    border-top: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
  }
}
