.search__list {
  background-color: $white;
  border: 1px solid $green !important; /*THIS IS OVERWRITTEN BY JS*/
  border-top: 0 none !important; /*THIS IS OVERWRITTEN BY JS*/
  box-shadow: 0 2px 10px 1px $shadow;
}
