/*

 +----------------------------------------------------------------------------------------------+
 | formselection                                                                                |
 | +------------------------------------------------------------------------------------------+ |
 | | formselection__header                                                                    | |
 | |                                                                                          | |
 | |                                                                                          | |
 | +------------------------------------------------------------------------------------------+ |
 | +------------------------------------------------------------------------------------------+ |
 | | formselection__body                                                                      | |
 | |                                                                                          | |
 | | +----------------------------------------------------------+ +-------------------------+ | |
 | | | formselection__forms                                     | | formselection__fields   | | |
 | | |                                                          | |                         | | |
 | | | +----------------+ +---------------+ +-------------+     | |                         | | |
 | | | | column         | | column        | |column       |     | |                         | | |
 | | | |                | |               | |             |     | |                         | | |
 | | | |                | |               | |             |     | |                         | | |
 | | | |                | |               | |             |     | |                         | | |
 | | | |                | |               | |             |     | |                         | | |
 | | | |                | |               | |             |     | |                         | | |
 | | | |                | |               | |             |     | |                         | | |
 | | | |                | |               | |             |     | |                         | | |
 | | | |                | |               | |             |     | |                         | | |
 | | | |                | |               | |             |     | |                         | | |
 | | | +----------------+ +---------------+ +-------------+     | |                         | | |
 | | +----------------------------------------------------------+ +-------------------------+ | |
 | +------------------------------------------------------------------------------------------+ |
 +----------------------------------------------------------------------------------------------+
 */

.formselection {

  padding-top: 1rem;
  padding-right: 0;
  padding-left: 1rem;
  padding-bottom: 0;

  color: $white;
  background-color: $black;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;

  // Split between the tree columns and the
  // list of fields
  @extend %vertical-stack__container;
}

.formselection {
  h2 {
    font-size: 1.5rem;
  }
}

.formselection__body {
  @extend %vertical-stack__viewport;
  @extend %horizontal-stack__container;
}

/*
 * Container for form selection columns
 */
.formselection__forms {
  @extend %horizontal-stack__viewport;
}
.formselection__forms--loaded {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
}

.formselection__forms--loading {
  @extend %center__container;
}

.formselection__column {
  min-width: 15rem;
  max-width: 25rem;
  border-right: 1px solid #466366;
  padding: 0.5rem;
  flex: 1 1;
  overflow-y: scroll;
  overflow-x: hidden;
  @include darkscrollbars();
}

.formselection__column:first-child {
  padding-left: 0;
  max-width: 15rem;
}

.formselection__item {
  width: 100%;
  color: $white;
  font-family: $gretasemibold;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border: 2px solid transparent;
  border-radius: 3px;
}

.formselection__item__inner {
  position: relative;
  padding-left: 2rem;
  padding-top: 0.35rem;
  padding-bottom: 0.25rem;

  // Text should wrap, but if a single word is too long
  // to fit and cannot be line-broken, then truncate with ellipses
  overflow: hidden;
  text-overflow: ellipsis;
}

.formselection__item--expandable .formselection__item__inner {
  // Make room for expandable arrow
  padding-right: 1rem;
}

.formselection__item:hover {
  background-color: $box-background;
}

.formselection__item--active {
  border: 2px solid $green;
}

.formselection__checkmark {
  z-index: 1;
  position: absolute;
  top: 0.75rem;
  left: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
}

.formselection__expand {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 0.625rem;
    height: 0.625rem;
}

.formselection__item--root {
  .formselection__checkmark {
    top: 0.25rem;
  }
  .formselection__expand {
    top: 0.5rem;
  }
}

.formselection__fields {
  @extend %vertical-stack__container;
  width: 22rem;
  padding-left: 1rem;
}

.formselection__fields:before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 23rem;
  border: 1px solid #466366;
}

.formselection__fields > div {
  padding-right: 1rem;
}

.formselection__fields__list {
  @extend %vertical-stack__viewport;
  @include darkscrollbars();
  margin-top: 1rem;
}

.formselection__fields__list--loading {
  @extend %center__container;
}

.formselection__fields__list--empty {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  svg {
    width: 80%;
  }

}
