/* ======= */
/* BUTTONS */
/* ======= */
/* button resets */
.button,
button,
[type=reset],
[type=submit] {
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
  font-size: 1rem;
}

.button {
  transition: background-color 0.3s ease,
              color 0.3s ease,
              border 0.3s ease;
  z-index: 0;
  position: relative;
  padding: 0.75rem;
  background: none;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  font-family: $gretasemibold;

  &:hover {
    border: 1px solid $grey-2;
  }

  &:focus {
    outline: 0 none;
    border: 1px solid $green;
    box-shadow: 0 0 0.5rem 0 $green;
  }

  &:active {
    border: 1px solid transparent;
    background-color: $grey-2;
    box-shadow: none;
  }
}

.button:disabled {
  opacity: 0.5;
  background-color:  initial;
  border: 1px solid transparent;
  outline: 0 none;
  pointer-events: none;
  cursor: not-allowed;

  &:hover {
    background-color: initial;
    border: 1px solid transparent;
  }
}

%button--background {
  &:disabled {
    background-color:  $grey-2;
  }

  &:hover {
    border: 1px solid transparent;
    background-color: $grey-4;
    color: $white;
  }
}

.button--primary {
  @extend %button--background;
  background-color: $green-light;
}

.button--delete {
  @extend %button--background;
  background-color: $red;
}

.button--dropdown.button--active {
  border: 1px solid transparent;
  background-color: $white;
}

.button .icon ~ .button__label {
  padding-left: 1.5rem;
}

.button--dropdown .icon ~ .button__label {
  padding-left: 0;
  padding-right: 1.5rem;
}
