
.tabstrip {
  display: flex;
  flex-direction: row;
  width: 100%;

  button {
    color: $white;
    display: block;
    flex-grow: 1;
    font-family: $gretasemibold;
    font-size: 1.125rem;
    background-color: #466366;
    padding: 0.5rem;
  }

  button:first-child {
    border-radius: $borderradius-s 0 0 $borderradius-s;
  }

  button:last-child {
    border-radius: 0 $borderradius-s $borderradius-s 0;
  }

  button.active {
    color: $black;
    background-color: $white;
  }

}
