/* ======= */
/* COLOURS */
/* ======= */

/* global colour palette */
$white: #FFFFFF;
$grey-1: #F2F7F7;
$grey-2: #C2CBCC;
$grey-3: #8A9799;
$grey-4: #526466;
$grey-5: #2F4142;
$grey-6: #2A3B3C;
$black: #243233;

$green: #00CF79;
$green-light: #91F2CA;
$teal: #00CFCD;
$blue: #006FC3;
$blue-light: #5B92E3;
$blue-dark: #0D388C;

$red: #F45443;
$red-alt: #C11F43;

/* use specific colour palette */
$background: $grey-1;
$border: #D3E4DD;
$shadow: rgba($grey-6, 0.2);
$box-background: #344A4C;

/* interaction colour palette */
$positive: $blue;
$positive-alt: darken($blue, 5%);
$neutral: $black;
$neutral-alt: lighten($black, 5%);
$negative: $red;
$negative-alt: $red-alt;

