/* ======= */
/* COLOURS */
/* ======= */

/* global colour palette */
$white: #FFFFFF;
$grey-medium: #A8AdAE;
$grey-dark: #364a4a;
$grey-deep: #2a3b3c;
$black: #243233;

$green: #00CF79;
$green-light: #91F2CA;
$teal: #00CFCD;
$blue: #006FC3;

$red: #F45443;
$red-alt: #C11F43;

/* use specific colour palette */
$background: #F2F7F7;
$border: #D3E4DD;
$shadow: rgba($grey-deep, 0.2);

/* interaction colour palette */
$positive: $blue;
$positive-alt: darken($blue, 5%);
$neutral: $black;
$neutral-alt: lighten($black, 5%);
$negative: $red;
$negative-alt: $red-alt;

