/* ============ */
/* MEASUREMENTS */
/* ============ */

/* fixed measurements */
$maxwidth: 60rem;
$formwidth: 40rem;

/* breakpoints */
$breakpoint-t: 20rem;
$breakpoint-s: 30rem;
$breakpoint-m: 48rem;
$breakpoint-l: 64rem;
$breakpoint-xl: 75rem;

$borderradius: 0.25rem;
$borderradius-s: 0.15rem;
