/* ============ */
/* MEASUREMENTS */
/* ============ */

/* fixed measurements */
$maxwidth: 60rem;

/* breakpoints */
$breakpoint-t: 20rem;
$breakpoint-s: 30rem;
$breakpoint-m: 48rem;
$breakpoint-l: 64rem;
$breakpoint-xl: 75rem;
