/* ============ */
/* MEASUREMENTS */
/* ============ */

/* fixed measurements */
$maxwidth: 50rem;

/* breakpoints */
$bp-tiny: 20rem;
$bp-small: 30rem;
$bp-medium: 48rem;
$bp-large: 64rem;
$bp-xlarge: 75rem;
