/* ===== */
/* FORMS */
/* ===== */
/* fieldset */
fieldset {
  padding: 0;
  margin: 0;
  border: 0 none;
}

/* global inputs */
input {
  font-family: $gretalight;
}

/* checkbox */
.fieldset__checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2rem;
}

.listpage__header__actions .fieldset__checkbox {
  padding: 0.75rem;
}

.fieldset__checkbox svg {
  transition: opacity 0.2s ease,
              transform 0.2s ease;
  z-index: 1;
  position: absolute;
  left: 0.25rem;
  top: 50%;
  width: 0.8rem;
  height: 0.8rem;
  opacity: 0;
  transform: translateY(-50%) rotate(-20deg) scale(0.8);
  transform-origin: 50% 100%;
}

.listpage__header__actions .fieldset__checkbox svg {
  left: 0.75rem;
}

.fieldset__checkbox input[type="checkbox"]:checked ~ svg {
  transition: opacity 0.2s 0.1s ease,
              transform 0.2s 0.15s ease;
  opacity: 1;
  transform: translateY(-50%) rotate(0) scale(1);
}

.fieldset__checkbox input[type="checkbox"]{
  position: absolute;
  visibility: hidden;
}

.fieldset__checkbox label {
  font-family: $gretasemibold;
}

.listpage__header__actions .fieldset__checkbox label {
   padding-left: 1.5rem;
}

.fieldset__checkbox input[type="checkbox"]:checked ~ label {
  color: $black;
}

.fieldset__checkbox input[type="checkbox"]:focus ~ label {
  box-shadow: 0 0 20px 0 rgba($green, 1);
}

.fieldset__checkbox label {
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
  }

  &:before {
    transition: opacity 0.2s 0.1s ease,
                transform 0.2s 0.1s ease;
    background-color: $green-light;
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
    transform-origin: 0% 100%;
  }

  &:after {
    transition: opacity 0.4s ease;
    border: 1px solid $black;
    background-color: rgba($white, 0.2);
    opacity: 1;
  }
}

.listpage__header__actions .fieldset__checkbox label {
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
  }
}

.fieldset__checkbox input[type="checkbox"]:checked ~ label {
  &:before {
    transition: opacity 0.2s 0.1s ease,
                transform 0.2s 0.1s ease;
    opacity: 1;
    transform: translateY(-50%) scaleY(1);
  }

  &:after {
    opacity: 0;
  }
}
