/* ===== */
/* ICONS */
/* ===== */

/* global bubble icon */
.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.button--dropdown .icon {
  left: initial;
  right: 1rem;
}


/* item type icon */
.icon--type {
  width: 1.1rem;
  height: 1.8rem;
}

.search__list .icon--type {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
