/* ===== */
/* ICONS */
/* ===== */

/* global bubble icon */
.icon {
  transition: transform 0.6s ease;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  transform-origin: 50% 50%;
}


.nav__button .icon {
  z-index: 2;
  position: relative;
  margin-top: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
}

/* item type icon */
.icon--type {
  width: 1.1rem;
  height: 1.8rem;
}

.search__list .icon--type {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
