/* =====================================================
   Text-level semantics
   w3c.github.io/html/textlevel-semantics.html
   ===================================================== */

/**
* 1. Remove grey background on active links in IE 10.
*/
a {
  background-color: transparent; /* 1 */
  text-decoration: none;
  text-decoration-color: red;
  color: $neutral;
  transition: all 0.2s ease;
}

/**
* 1. Improve readability when focused and also mouse hovered in all browsers
*/
a:active,
a:hover {
  color: $neutral-alt;
  text-decoration-color: red;
  outline: 0; /* 1 */
}

a:active {
  color: $neutral-alt;
  text-decoration-color: red;
}

/* Any element that has an anchor link in it should have display block behaviour */
* > a {
  display: inline-block;
}

p {
  /*font-size: $font-size-m;*/
}

@media print {
  a,
  a:visited {
    color: black !important;
  }
}

/* Add the correct font size in all browsers */
small {
  font-size: 100%;
}

abbr[title] {
  text-decoration: underline dotted red;

  &:hover {
    cursor: help;
  }
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
samp {
  font-family: monospace; /* 1 */
  font-size: 0.875em; /* 2 */
}

kbd {
  font-family: $gretalight;
}

/**
 * Prevent `sub` and `sup` elements from affecting line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

/**
 * Address styling not present in IE 8/9
 */
mark {
  background: #ffc;
}

strong {
  font-weight: 700;
}

.surtitle {
  color: $green-pale;
  font-family: $gretasemibold;
  font-size: 0.75rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}