
// The fieldlist column
// Provides a list of fields available to be used in the report

.fieldlist {
  flex: none;
  width: 22rem;

  display: flex;
  flex-direction: column;
}

.fieldlist ~ .fieldlist:before {
  content: '';
  width: 1rem;
  position: absolute;
  right: 22rem;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #000000 0%, rgba(52, 74, 76, 0) 100%);
  opacity: 0.3;
}

.fieldlist__header {
  padding: 1rem;
}

.fieldlist__body {
  overflow-y: auto;
}

.formselection ~ .fieldlist:before {
  content: '';
  width: 1rem;
  position: absolute;
  right: 22rem;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to left, #000000 0%, rgba(52, 74, 76, 0) 100%);
  opacity: 0.3;
}

.fieldlist__group {
  h3, ul {
    padding: 0 1rem 1rem;
  }
}



.fieldlist ul {
  overflow-y: auto;
  flex-grow: 1;
}

.fieldlist__item {
  padding: 1rem;
  background-color: $box-background;
  margin-bottom: 0.5rem;
  position: relative;
}

.fieldlist__item--included {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 0.25rem solid $green;
  }
}

.fieldlist__item__desc {
  color: $green-pale;
  font-family: $gretasemibold;
  font-size: 0.75rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.fieldlist__item__label {
  color: $white;
  font-family: $gretasemibold;
  font-size: 1rem;
  line-height: 1.125rem;
}

