

.cardlist {
}

.card {
  padding: 1rem;
  background-color: $box-background;
  margin-bottom: 0.5rem;
  position: relative;
}

.card--placeholder {
  background-color: #466366;
  height: 5rem;
}

.card--dragging {
  opacity: 0.4;
}

.card--included {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 0.25rem solid $green;
  }
}

.card__label {
  color: $white;
  font-family: $gretasemibold;
  font-size: 1rem;
  line-height: 1.125rem;
}