
$sidepanel-collapsed-width: 1.875rem;

.sidepanel {
  @extend %vertical-stack__container;
  width: 22rem;
  flex: none;
  background-color: $black;
  color: $white;
  font-size: 0.9rem;
  box-shadow: -0.2rem 0 0.5rem 0 rgba($black, 0.2);
  position: relative;
}

.sidepanel--full {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
}

.sidepanel__header {
  min-height: 2rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.sidepanel__header h2 {
  font-size: 1.5rem;
}

.sidepanel h3 {
  font-size: 1.25rem;
}

.sidepanel__content {
  @extend %vertical-stack__viewport;
  @extend %fit__container;
}

.sidepanel__expand {
  display: none;
  position: absolute;
  left: 0;
  padding-top: 0.4375rem;
  background-color: initial;
  border: 0 none;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);

  color: $white;
  white-space: nowrap;
  font-size: 1rem;
  font-family: $gretalight;

  svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    transform: rotate(270deg);
    margin-left: 0.50rem;
  }
}

.sidepanel--left .sidepanel__expand svg {
  transform: rotate(90deg) translateX(0.40rem);
}


.sidepanel__collapse {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: $gretalight;
  font-size: 1rem;
  color: $white;

  svg {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-left: 0.5rem;
    transform: translateY(0.25rem);
  }
}
.sidepanel--left .sidepanel__collapse svg {
  transform: translateY(0.25rem) rotate(180deg);
  margin-left: 0;
}

.sidepanel--collapsed {
  width: $sidepanel-collapsed-width;
  overflow: hidden;
  padding: 1rem;
}

.sidepanel--closed {
  display: none;
}

.sidepanel--collapsed .sidepanel__expand {
  display: block;
}



button.sidepanel:focus {
  outline: none;
}

