
$sidepanel-collapsed-width: 1.875rem;

.sidepanel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 22rem;
  background-color: $black;
  color: $white;
  font-size: 0.9rem;
  box-shadow: -0.2rem 0 0.5rem 0 rgba($black, 0.2);
  z-index: 500;
  display: flex;
  flex-direction: column;
}

.sidepanel--right {
  right: 0;
}

.sidepanel--left {
  left: 0;
}

.sidepanel--full {
  left: 0;
  right: 0;
  width: auto;
}

.sidepanel__header {
  min-height: 2rem;
  flex-grow: 0;
  padding-left: 1rem;
  padding-top: 1rem;
}

.sidepanel__header h2 {
  font-size: 1.5rem;
}

.sidepanel__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.sidepanel__content > div {
  flex-grow: 1;
}

.sidepanel__expand {
  display: none;
  position: absolute;
  left: 0;
  padding-top: 0.4375rem;
  background-color: initial;
  border: 0 none;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
}

.sidepanel__collapse {
  position: absolute;
  top: 1rem;
}

.sidepanel--right .sidepanel__collapse {
  left: 1rem;
}

.sidepanel--left .sidepanel__collapse {
  right: 1rem;
}

.sidepanel__collapse svg {
  width: 1rem;
  height: 1rem;
}

.sidepanel--collapsed {
  width: $sidepanel-collapsed-width;
  overflow: hidden;
  padding: 1rem;
}

.sidepanel--collapsed .sidepanel__expand {
  display: block;
}

button.sidepanel__expand {
  color: $white;
  white-space: nowrap;
  font-size: 1rem;
}

button.sidepanel:focus {
  outline: none;
}

