/* page body styles */

.page {
  flex-grow: 1;
}

.page__body {
  background-color: $background;
}

.page--padded .page__body {
  padding: 2rem 1rem;
}

.page--fullwidth .page__body {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}

.page__body__inner {
  max-width: $maxwidth;
  margin: 0 auto;

  @media only screen and (min-width: $breakpoint-l) {
    padding: 2rem 0;
  }
}

.appframe--fixed {

  .page {
    display: flex;
    flex-direction: column;
  }

  .page__body {
    flex-grow: 1;
  }
}