.listview {
  // Removed padding: 1rem; here, that interferes with the database/form/folder lists.
  background-color: white;
  border-radius: $borderradius;
}

.listview__item {
  font-size: 1rem;
  color: $black;
}

.listview__item--selected {
}


.listview__item.x-view-highlightrow {
}
