
// NOTA BENA: Do not add padding to the listview item,
// as it interferes with Sencha's measurements.

.listview {
  background-color: white;
  box-shadow: 0 2px 6px rgba(105, 127, 151, 0.3);
}

.listview__item {
  padding: 0.25rem;
}

.listview__item__inner {
  font-size: 1rem;
  color: $black;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid transparent;
}

.listview__item--selected {
}


.listview__item.x-view-highlightrow .listview__item__inner {
  border: 1px solid $green;
}
