
.tabpanel {
    @extend %vertical-stack__container;
    display: flex;
    flex-direction: column;
}

.tabpanel__strip {
    display: flex;
    flex-direction: row;
    padding: 1rem;

    button {
        color: $white;
        display: block;
        flex-grow: 1;
        font-family: $gretasemibold;
        font-size: 1.125rem;
        background-color: #466366;
        padding: 0.5rem;
        text-align: center;
    }

    button:first-child {
        border-radius: $borderradius-s 0 0 $borderradius-s;
    }

    button:last-child {
        border-radius: 0 $borderradius-s $borderradius-s 0;
    }

    button.active {
        color: $black;
        background-color: $white;
    }

    button:focus {
        outline: 0 none;
        border: none;
    }
}

.tabpanel__body {
    @extend %vertical-stack__viewport;

    padding: 0 1rem 1rem;

}