.connectionstatus {
  display: block;
  background-image: linear-gradient(to bottom right, $green, $teal);
}

.connectionstatus--offline {
  background-image: linear-gradient(to bottom right, $negative, $negative-alt);
}

.connectionstatus__inner {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
  padding: 0.5rem;
}
