.logo {
  transition: padding 0.2s ease;
  display: flex;
  align-items: center;
  padding: 0.5rem;

  @media only screen and (min-width: $breakpoint-m) {
    padding: 1rem;
    margin-right: 2rem;
  }
}

.logo svg {
  @media only screen and (min-width: $breakpoint-m) {
    margin-right: 1rem;
  }
  width: 2.5rem;
  height: 2.5rem;
}

.logo__name {
  display: none;
  padding: 0.1em 0.4em;
  font-family: $gretasemibold;
  font-size: 1.5rem;
  background-color: rgba($teal, 0.1);

  @media only screen and (min-width: $breakpoint-m) {
    display: block;
  }
}

.logo svg path {
  transition: fill 0.2s ease;
}

.logo:hover svg path {
  fill: $black;
}
