.nav__button {
  transition: color 0.3s ease,
              opacity 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.5rem 0.25rem;
  margin: 0;
  flex: 1 0 6.5rem;
  width: 6.5rem;
  height: 100%;
  text-align: center;
  font-size: 1rem;
  opacity: 0.6;

  &:before {
    transition: opacity 0.3s ease,
                transform 0.3s ease;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $grey-2;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 50% 100%;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:focus {
    box-shadow: 0 0 0.5rem 0 $green;
  }

  &:hover:before {
    opacity: 1;
    transform: scaleY(1);
  }
}

.nav__button--active {
  opacity: 1;
}

.nav__button .button__label {
  z-index: 1;
  position: relative;
}

.nav__button .button__label:before {
  transition: background-color 0.3s ease,
              transform 0.3s ease;
  content: '';
  position: absolute;
  left: 50%;
  top: -2.15rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  transform-origin: 50% 50%;
  transform: translateX(-50%) scale(0);
  background-color: $green-light;
}

.nav__button--active .button__label:before {
  transform: translateX(-50%) scale(1);
}

.nav__button--active:hover .button__label:before {
  background-color: $white;
}
