

.details {

  h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: bold;
  }

  /*
   Field Label
   */
  h4 {
    margin-top: 1rem;
    color: $green-pale;
    font-family: $gretasemibold;
    font-size: 0.875rem;
    text-transform: uppercase;
  }
}

.details__scrollto {
  font-size: 0.8rem;
  color: $white;
  font-family: $gretalight;
}

button.details__scrollto:disabled {
  opacity: 0.2;
}


.details__empty {
  margin-top: 1.5rem;
  text-align: center;

  p {
    font-family: $gretalight;
    font-size: 1rem;
  }
}

.details__recordheader {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.details__recordheader h2 {
  flex-grow: 2;
}

.details__subforms {

}

.details__subforms h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.details__fields {

}

.details__value {
  color: $white;
  font-family: $gretalight;
  font-size: 1rem;
}


.details__fields--dummy h4 {
  @include blur($green-pale);
}

.details__fields--loading .details__value {
  @include blur($white);
}
