

.details {

  h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: bold;
  }

  /*
   Field Label
   */
  h4 {
    margin-top: 1rem;
    color: $green-pale;
    font-family: $gretasemibold;
    font-size: 0.875rem;
    text-transform: uppercase;
  }
}

.details__empty {
  margin-top: 1.5rem;
  text-align: center;

  p {
    font-family: $gretalight;
    font-size: 1rem;
  }
}

.details__recordheader {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.details__recordheader h2 {
  flex-grow: 2;
}

.details__fields {

}

.details__value {
  color: $white;
  font-family: $gretalight;
  font-size: 1rem;
}


.details__fields--loading .details__value {
  color: transparent;
  text-shadow: 0 0 5px rgba($white, 0.5)
}
