
.formtable {
  flex-grow: 1;
  position: relative;
}

// Slide element extends of screen
// Width will be set to n*100vw, where n is the maximum depth of subforms
// Depending on the active table, a translate-x style property

.formtable__slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

// For each root form and subform, there will be a
// slide that is positioned absolutely within div.formtable__slider
// with a left position set depending on its depth in the tree

.formtable__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;

  display: flex;
  flex-direction: column;
}

.formtable__slide .toolbar {
  flex: none;
  padding-right: 1rem;
  padding-left: 1.25rem;
  padding-top: 1.25rem;
}

// Contains the column options panel, the datatable, and the record panel,
// layed out from left to right

.formtable__slide__body {

  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-grow: 1;
  padding-left: 1.25rem;
}


.formtable__slide__body .datatable {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.formtable__formcontainer {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}


/* Special Styling for Subform columns */

.columnheader__header h4 {
  color: #709396;
  font-family: $gretasemibold;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin: 0;
}

.tablegrid__row .tablegrid__cell--subform {
  background-color: #f4fefa;
  position: relative;

  a {
    position: absolute;
    right: 0.75rem;
  }
}

.tablegrid__row--alt .tablegrid__cell--subform {
  background-color: #ecf8f4;
}



