
.history__entry {
  margin-top: 1.5rem;
}

.loading .history__entry {
  @include blur($white);
}

.history__date {
  color: $green-pale;
  font-family: $gretasemibold;
  font-size: 0.875rem;
  text-transform: uppercase;

.history__type {
  color: $white;
  font-size: 1rem;
  font-family: $gretasemibold;
}
}

.history__user {
  color: $white;
  font-size: 1rem;
  font-family: $gretalight;
}
