
$sidepanel-collapsed-width: 1.875rem;

.sidepanel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20rem;
    background-color: $black;
    color: $white;
    overflow-y: auto;
    font-size: 0.9rem;
    box-shadow: -0.2rem 0 0.5rem 0 rgba($black, 0.2);
    z-index: 500;
    padding: 1rem;
}


.sidepanel__expand {
    display: none;
    position: absolute;
    left: 0;
    padding-top: 0.4375rem;
    background-color: initial;
    border: 0 none;
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);
}

.sidepanel__scrollto button {
    font-size: 0.8rem;
    color: $white;
}

.sidepanel__collapse {
    position: absolute;
    top: 1rem;
    right: 1rem;
}


.sidepanel--collapsed {
    width: $sidepanel-collapsed-width;
}

.sidepanel--collapsed .sidepanel__expand {
    display: block;
}

.sidepanel__expand button {
    color: $white;
    white-space: nowrap;
    font-size: 1rem;
}

.sidepanel button:focus {
    outline: none;
}

.sidepanel--collapsed .sidepanel__collapse,
.sidepanel--collapsed .sidepanel__scrollto,
.sidepanel--collapsed .sidepanel__content {
    display: none;
}

