
.formtable {
  display: flex;
  flex-direction: column;
  position: relative;
}

.formtable__gridcontainer {
  background-color: red;
  flex-grow: 1;
  position: relative;
  width: calc(100% - #{$sidepanel-collapsed-width});
}
