
.columnheader__header-inner {
}

.columnheader__header {
    cursor: default;
    padding: 0 0 0 0;
    overflow: hidden;
    background: $grey-1;
    border-style: none;
}

.columnheader__head-row .columnheader__head {
    vertical-align: top;
    -moz-outline: none;
    -moz-user-focus: normal;
    outline: 0 none;
    font-family: $gretasemibold;
    font-size: 1rem;
    color: $grey-4;
    border-style: solid;
    border-color: $border;
    border-width: 0 1px 1px 0;
}

.columnheader__head-inner {
    overflow: hidden;
    zoom: 1;
    padding: 12px 16px 12px 8px;
    cursor: inherit;
    position: relative;
    vertical-align: middle;
    /* @alternate */ overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.columnheader__head {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: ignore;
}

// We cannot suppress the header menu button, but we can hide it.
.columnheader__head-button {
    display: none;
}

.columnheader__sort-icon {
    background-repeat: no-repeat;
    display: none;
    /*height: MAX;*/
    margin-left: 3px;
    vertical-align: middle;
}

.columnheader__sort--asc .columnheader__sort-icon,
.columnheader__sort--desc .columnheader__sort-icon {
    display: inline;
}

.columnheader__sort--asc .columnheader__sort-icon {
}

.columnheader__sort--desc .columnheader__sort-icon {
}

.columnheader__column-move-bottom {
}

.columnheader__column-move-top {
}
