
$BODY_BORDER_COLOR: black;
$BODY_BORDER_WIDTH: 1px;
$BODY_BORDER_STYLE: solid;
$CELL_PADDING: 12px 16px 12px 8px;
/*$CELL_FAMILY value('theme.grid.tablegrid__cellText.family');*/
/*$CELL_WEIGHT value('theme.grid.tablegrid__cellText.weight');*/
/*$CELL_SIZE value('theme.grid.tablegrid__cellText.size');*/
$CELL_COLOR: black;
$CELL_LINE_HEIGHT: 18.2px;
$CELL_V_BORDER_COLOR: gray;
$CELL_H_BORDER_COLOR: gray;
$CELL_BORDER_WIDTH: 1;
$CELL_BACKGROUND_COLOR: #e2eff8;
$CELL_ALT_BACKGROUND_COLOR: white;
/*$CELL_OVER_V_BORDER_COLOR value('theme.grid.tablegrid__cellOverVBorderColor');*/
/*$CELL_OVER_V_BORDER_STYLE value('theme.grid.tablegrid__cellOverVBorderStyle');*/
/*$CELL_OVER_H_BORDER_COLOR value('theme.grid.tablegrid__cellOverHBorderColor');*/
/*$CELL_OVER_H_BORDER_STYLE value('theme.grid.tablegrid__cellOverHBorderStyle');*/
/*$CELL_OVER_BACKGROUND_COLOR value('theme.grid.tablegrid__cellOverBackgroundColor');*/
/*$CELL_SELECTED_V_BORDER_COLOR value('theme.grid.tablegrid__cellSelectedVBorderColor');*/
/*$CELL_SELECTED_V_BORDER_STYLE value('theme.grid.tablegrid__cellSelectedVBorderStyle');*/
/*$CELL_SELECTED_H_BORDER_COLOR value('theme.grid.tablegrid__cellSelectedHBorderColor');*/
/*$CELL_SELECTED_H_BORDER_STYLE value('theme.grid.tablegrid__cellSelectedHBorderStyle');*/
/*$CELL_SELECTED_BACKGROUND_COLOR value('theme.grid.tablegrid__cellSelectedBackgroundColor');*/
/*$FOOTER_BACKGROUND_COLOR value('theme.grid.tablegrid__footer.backgroundColor');*/
/*$FOOTER_BORDER_WIDTH value('theme.grid.tablegrid__footer.tablegrid__cellBorder.toString');*/
/*$FOOTER_BORDER_COLOR value('theme.grid.tablegrid__footer.tablegrid__cellBorder.color');*/
/*$FOOTER_BORDER_STYLE value('theme.grid.tablegrid__footer.tablegrid__cellBorder.style');*/
/*$DIRTY eval('com.sencha.gxt.core.client.util.ImageHelper.createModuleBasedUrl("base/images/grid/dirty.gif")');*/
/*$INVALID_LINE eval('com.sencha.gxt.core.client.util.ImageHelper.createModuleBasedUrl("base/images/grid/invalid_line.gif")');*/


/*$cellPadding = {*/
/*left = 8*/
/*right = 16*/
/*top = 12*/
/*bottom = 12*/
/*}*/

.tablegrid {
    position: relative;
    overflow: hidden;
    outline: 0 none;
    background: yellow;
}

.tablegrid__scroller {
    overflow: auto;
    zoom: 1;
    position: relative;
    background-color: white;
    -ms-touch-action: none;
    touch-action: none;
}

.tablegrid__body {
    /*border-style: BODY_BORDER_STYLE;*/
    /*border-color: BODY_BORDER_COLOR;*/
    /*border-width: BODY_BORDER_WIDTH;*/
}

.tablegrid__row--highlight {
}

.tablegrid_data-table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
}

.tablegrid__header-row {
}

.tablegrid__row {
    cursor: default;
    padding: 0 1px;
    vertical-align: top;
}

.tablegrid__cell {
    background-color: white;
    border-color: $CELL_BACKGROUND_COLOR $CELL_V_BORDER_COLOR $CELL_H_BORDER_COLOR;
    border-style: solid;
    border-width: $CELL_BORDER_WIDTH 0;
    border-right-style: none;
    /*font-family: CELL_FAMILY;*/
    /*font-size: CELL_SIZE;*/
    /*color: CELL_COLOR;*/
    /*font-weight: CELL_WEIGHT;*/
    overflow: hidden;
}

.tablegrid__row--alt .tablegrid__cell {
    background-color: $CELL_ALT_BACKGROUND_COLOR;
    border-top-color: $CELL_ALT_BACKGROUND_COLOR;
}

.tablegrid__row-wrap {
    border-color: $CELL_BACKGROUND_COLOR $CELL_V_BORDER_COLOR $CELL_H_BORDER_COLOR;
    border-style: solid;
    border-right-style: none;
    border-width: $CELL_BORDER_WIDTH 0;
    overflow: hidden;
}

.tablegrid__row--alt .tablegrid__row-wrap {
    border-top-color: $CELL_ALT_BACKGROUND_COLOR;
}

.tablegrid__row-wrap .tablegrid__cell,
.tablegrid__row-wrap .tablegrid__cell-inner {
    border-style: none;
}

.tablegrid__row--over .tablegrid__cell,
.tablegrid__row--over .tablegrid__row-wrap {
    /*background-color: $CELL_OVER_BACKGROUND_COLOR;*/
    /*border-style: solid $CELL_OVER_V_BORDER_STYLE $CELL_OVER_H_BORDER_STYLE;*/
    /*border-color: $CELL_OVER_BACKGROUND_COLOR $CELL_OVER_V_BORDER_COLOR $CELL_OVER_H_BORDER_COLOR;*/
}

.tablegrid__row--selected .tablegrid__cell,
.tablegrid__row--selected .tablegrid__row-wrap,
.tablegrid__row .tablegrid__cell--selected {
    /*background-color: $CELL_SELECTED_BACKGROUND_COLOR !important;*/
    /*border-style: solid $CELL_SELECTED_V_BORDER_STYLE $CELL_SELECTED_H_BORDER_STYLE;*/
    /*border-color: $CELL_SELECTED_BACKGROUND_COLOR $CELL_SELECTED_V_BORDER_COLOR $CELL_SELECTED_H_BORDER_COLOR;*/
}

.tablegrid__column-lines .tablegrid__cell {
    border-right: $CELL_BORDER_WIDTH solid $CELL_V_BORDER_COLOR;
}

.tablegrid__row--dirty {
}

.tablegrid__cell--dirty {
    /*background: transparent no-repeat 0 0;*/
    /*background-image: DIRTY;*/
}

.tablegrid__cell-inner {
    overflow: hidden;
    padding: $CELL_PADDING;
    line-height: $CELL_LINE_HEIGHT;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.noPadding {
    padding: 0;
    height: 100%;
}

.tablegrid--empty {
    padding: 10px;
    color: gray;
    font: normal 11px tahoma, arial, helvetica, sans-serif;
}

.tablegrid__row-body {
    font: 11px/ 13px tahoma, arial, verdana, sans-serif;
    padding: 4px;
}

.tablegrid__footer {
    background: white none repeat scroll 0 0;
    /*border-width: $FOOTER_BORDER_WIDTH;*/
    /*border-style: $FOOTER_BORDER_STYLE;*/
    /*border-color: $FOOTER_BORDER_COLOR;*/
    display: block;
    overflow: hidden;
    position: relative;
}

.tablegrid__footer .tablegrid__cell {
    background: none;
    /*font-family: FOOTER_TEXT_FAMILY;*/
    /*font-size: FOOTER_TEXT_SIZE;*/
    /*font-weight: FOOTER_TEXT_WEIGHT;*/
    /*color: FOOTER_TEXT_COLOR;*/
}

.x-treegrid .x-treegrid-column .tablegrid__cell-inner {
    padding: 0 !important;
}
