
$BODY_BORDER_COLOR: black;
$BODY_BORDER_WIDTH: 1px;
$BODY_BORDER_STYLE: solid;

$CELL_LINE_HEIGHT: 18.2px;
$cell-bg-color: $white;
$cell-bg-color-alt: #f6f9f9;
$row-line-width: 2px;
$column-line-color: $border;

.tablegrid {
    position: relative;
    overflow: hidden;
    outline: 0 none;
    background: yellow;

    // Override our base styles to meet Sencha's assumptions
    box-sizing: content-box;

}

.tablegrid__scroller {
    overflow: auto;
    zoom: 1;
    position: relative;
    background-color: white;
    -ms-touch-action: none;
    touch-action: none;
    box-shadow: 0 2px 6px rgba(36, 50, 51, 0.2);

}

.tablegrid__body {
    /*border-style: BODY_BORDER_STYLE;*/
    /*border-color: BODY_BORDER_COLOR;*/
    /*border-width: BODY_BORDER_WIDTH;*/
}

.tablegrid_data-table table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
}

.tablegrid__header-row {
}

.tablegrid__row {
    cursor: default;
    padding: 0 1px;
    vertical-align: top;
}

.tablegrid__cell {
    background-color: white;
    border-top-color: $cell-bg-color;
    border-right-color: $column-line-color;
    border-left-color: $column-line-color;
    border-bottom-color: $cell-bg-color;
    border-style: solid;
    border-width: $row-line-width 0;
    border-right-style: none;
    border-bottom-style: none;
    color: $black;
    overflow: hidden;
    outline: 0;
}

.tablegrid__row--alt .tablegrid__cell {
    background-color: $cell-bg-color-alt;
    border-top-color: $cell-bg-color-alt;
}

.tablegrid__row--highlight .tablegrid__cell {
    border-style: solid;
    border-top-color: $green;
    border-bottom-color: $green;
    font-family: $gretasemibold;
}

.tablegrid__row-wrap {
    border-color: $cell-bg-color $column-line-color $cell-bg-color;
    border-style: solid;
    border-width: $row-line-width 0;
    overflow: hidden;
}

.tablegrid__row--alt .tablegrid__row-wrap {
    border-top-color: $cell-bg-color-alt;
}

.tablegrid__row-wrap .tablegrid__cell,
.tablegrid__row-wrap .tablegrid__cell-inner {
    border-style: none;
}


.tablegrid__column-lines .tablegrid__cell {
    border-right: 1px solid $column-line-color;
}

.tablegrid__row--dirty {
}

.tablegrid__cell--dirty {
}

.tablegrid__cell-inner {
    overflow: hidden;
    padding: 12px 16px 12px 8px;
    line-height: $CELL_LINE_HEIGHT;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.noPadding {
    padding: 0;
    height: 100%;
}

.tablegrid--empty {
    padding: 10px;
    color: gray;
}

.tablegrid__row-body {
    padding: 4px;
}


.x-treegrid .x-treegrid-column .tablegrid__cell-inner {
    padding: 0 !important;
}
