$font-size-s              :   11px;
$font-size-m              :   14px;
$font-size-l              :   12px;
$font-size-xl             :   13px;

$line-height-default      :   1.3;

$font-size-default        :   $font-size-m;

$overpassmono             : 'Overpass Mono', monospace;
$overpass                 : 'Overpass', sans-serif;
