

.importer {
  // Fill entire page body
  flex-grow: 1;

  padding-top: 1rem;
  padding-right: 0;
  padding-left: 1.25rem;
  padding-bottom: 0;

  // Split the space between the importer__main and the sidepanel
  display: flex;
  flex-direction: row;
}

.importer__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.importer__header {
  flex: none;
  display: flex;
  justify-content: space-between;
}

.importer__header p {
  font-size: 1rem;
  margin: 0 0 1rem;
}

p.importer__valid-count {
  font-family: $gretasemibold;
  margin-bottom: 0;
}

.importer__header .surtitle {
  color: #689591;
}

.importer__body {
  flex-grow: 1;
  position: relative;
}

.importer__source {

  background-color: $white;
  border: 1px solid #e6ebea;

  /* Center the instructions in this container */
  @include centerchild();

  text-align: center;
}

.importer__source textarea {
  resize: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
}

.importer__match, .importer__verify {
  display: flex;
  flex-direction: row;
}

.importer .datatable {
  flex-grow: 1;
}

.importer__choice {
  display: flex;
  flex-direction: column;
}

.importer__choice__header,
.importer__choice__footer {
  flex: none;
}

.importer__choice__body {
  flex-grow: 1;
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.importer {

  th.unset {
    background-color: #d2003d;
    color: $white;
    .surtitle {
      color: $white;
    }
  }

  td.unset {
    background-color: #fae5eb;
  }

  tr:nth-child(odd) td.unset {
    background-color: #f8d5df;
  }

  th.ignored {
    background-color: $green-pale;
    color: #466366;

    .surtitle {
      color: $black;
    }
  }

  td.ignored {
    background-color: #eceff0;
    color: #a4a8ac;
  }

  tr:nth-child(odd) td.ignored {
    background-color: #e6ebea;
  }

  td.invalid {
    background-color: #d2003d !important;
    color: $white;
  }

}

.importer__best {
  border-radius: 3px;
  border: 1px solid $white;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

  h4 {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $white;
  }
}

.importer__commit {
  padding: 0.5rem;
  width: 27rem;
}

.importer__commit__progress {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 3rem;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

}