/* ====== */
/* MIXINS */
/* ====== */

/* triangle mixin */
@mixin triangle($color: 'red', $position: 50%) {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -0.5rem;
    left: $position;
    transform: translateX(-50%);
    border-bottom: 0.5rem solid $color;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
  }
}

@mixin blur($color: 'black') {
  color: transparent;
  text-shadow: 0 0 5px rgba($color, 0.5);
}

/* applies custom scrollbars for the div */

@mixin darkscrollbars() {

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 11px;
    height: 11px;
  }

  &::-webkit-scrollbar-track {
    background-color: #466366;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: 0 3px 10px rgba(8, 8, 8, 0.4);
    background-color: $green;
  }
}

/* Centers this container's only child */

@mixin centerchild() {
  display: flex;
  align-items: center;
  justify-content: center;
}